<div class="container form-container">
  <h2><%= t('devise.registrations.new.sign_up') %></h2>

  <%- if devise_mapping.omniauthable? %>
    <div class="text-center mt-20 mb-10">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= button_to omniauth_authorize_path(resource_name, provider), class: 'w-32 hover:brightness-75', data: { turbo: false } do %>
          <%= image_tag('btn_login_base.png') %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <p class='text-center text-sm'>-----  または  -----</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <p class="text-center mt-4 mb-10"><span class="text-red-600">*</span>は入力必須項目です。</p>

    <div class="field">
      <%= f.label :name, class:"w-full mx-auto" do %>
        <span class="text-red-600">*</span>
        <%= User.human_attribute_name(:name) %>
      <% end%>
      <%= f.text_field :name, autofocus: true, autocomplete: "ユーザー名", class: 'input input-bordered input-info form-control mb-6 w-full mx-auto mt-2', placeholder: "10文字以下" %>
    </div>

    <div class="field">
      <%= f.label :email, class:"w-full mx-auto" do %>
        <span class="text-red-600">*</span>
        <%= User.human_attribute_name(:email) %>
      <% end%>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input input-bordered input-info form-control mb-6 w-full mx-auto mt-2', placeholder: "メールアドレスを入力" %>
    </div>

    <div class="field">
      <%= f.label :password, class:"w-full mx-auto" do %>
        <span class="text-red-600">*</span>
        <%= User.human_attribute_name(:password) %>
      <% end%>
      <%= f.password_field :password, autocomplete: "new-password", class: 'input input-bordered input-info form-control mb-6 w-full mx-auto mt-2', placeholder: "6文字以上" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, class:"w-full mx-auto" do %>
        <span class="text-red-600">*</span>
        <%= User.human_attribute_name(:password_confirmation) %>
      <% end%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input input-bordered input-info form-control mb-6 w-full mx-auto mt-2', placeholder: "パスワードをもう一度" %>
    </div>

    <div class="mx-auto flex items-center justify-center mt-16">
      <%= f.label :registration_check, class: "label cursor-pointer" do %>
        <%= f.check_box :registration_check, class: "checkbox checkbox-info mr-2" %>
        <span><%= link_to "利用規約", term_path, class: "text-blue-500 hover:underline" %> および<%= link_to "プライバシーポリシー", policy_path, class: "text-blue-500 hover:underline" %>に同意しました。</span>
      <% end %>
    </div>

    <div class="actions">
      <%= f.submit class: 'btn btn-info w-full mt-6 mb-6 mx-auto' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>