<%= link_to post_path(post), class: "card bg-base-100 shadow-xl hover:bg-[#f7f4ef] duration-300" do %>
  <figure>
    <%= image_tag "#{post.post_image}" %>
  </figure>
  <div class="card-body">
    <h3 class="card-title title-limit">
      <%= post.title %>
    </h3>
    <% if post.with_recipe? %>
      <div class="badge badge-secondary text-white">レシピ付き</div>
    <% end %>
    <% if post.draft? %>
      <div class="badge badge-accent text-white">下書き</div>
    <% end %>
    <p class="txt-limit"><%= post.description %></p>
    <p><%= post.user.name %></p>
    <div class="card-actions justify-end">
      <% post.tags.each do |tag| %>
        <div class="badge badge-outline"><%= tag.name %></div>
      <% end %>
    </div>
  </div>
<% end %>