<%= link_to post_path(post), class: "card bg-base-100 shadow-xl hover:bg-[#f7f4ef] duration-300" do %>
  <figure>
    <%= image_tag "#{post.post_image}" %>
  </figure>
  <div class="card-body">
    <h3 class="card-title title-limit">
      <%= post.title %>
    </h3>
    <% if post.with_recipe? %>
      <div class="badge badge-secondary text-white">レシピ付き</div>
    <% end %>
    <% if post.draft? %>
      <div class="badge badge-accent text-white">下書き</div>
    <% end %>
    <div class="card-actions ">
      <% post.tags.each do |tag| %>
        <div class="badge badge-outline"><%= tag.name %></div>
      <% end %>
    </div>

    <p class="txt-limit"><%= post.description %></p>
    <div class="flex items-center">
      <div class="avatar mr-2">
        <div class="w-16 rounded-full">
          <%= image_tag "#{post.user.avatar}"%>
        </div>
      </div>
      <%= post.user.name%>
    </div>
  </div>
<% end %>