<div class="container">
  <h2><%= @post.title %></h2>
  <div class="max-w-2xl mx-auto">
    <% if @post.draft? %>
      <div class="badge badge-accent md:badge-lg badge-sm text-white block mb-2">下書き</div>
    <% end %>
    <% if @post.tags.present? %>
      <% @post.tags.each do |tag| %>
        <div class="badge badge-outline md:badge-lg badge-sm"><%= tag.name %></div>
      <% end %>
    <% end %>
    <div class="mx-auto w-10/12 mt-4 rounded-md flex justify-center">
        <%= image_tag "#{@post.post_image}", class:"rounded-2xl" %>
    </div>

    <% if @post.description.present? %>
      <p class="mt-10 text-xl text-center break-words"><%= @post.description %></p>
    <% end %>
    <div class="flex flex-row-reverse sm:mt-10 mt-4 items-center">
      <%= link_to "#", class:"ml-2" do %>
        <svg class="w-8 h-8 text-neutral" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
        </svg>
      <% end %>
      <% if current_user && !current_user.own?(@post) %>
        <%= render "bookmark_buttons", { post: @post } %>
      <% end %>
    </div>
    <div class="sm:flex sm:mt-10 mt-4 justify-between items-center w-full">
      <%= link_to user_path(@post.user), class: "flex items-center text-lg underline underline-offset-4 hover:text-secondary hover:duration-100" do %>
        <div class="avatar mr-2">
          <div class="w-16 rounded-full">
            <%= image_tag "post_default.png"%>
          </div>
        </div>
        <%= @post.user.name%>
      <% end %>
      <% if current_user&.own?(@post)%>
        <div class="flex items-center">
          <%= link_to "編集", edit_post_path, class:"btn btn-primary text-white mr-2" %>
          <%= link_to '削除', post_path(@post), data: { turbo_method: :delete, turbo_confirm: '本当に削除しますか?' }, class:"btn btn-secondary text-white" %>
        </div>
      <% end %>
    </div>

    <% if @post.with_recipe?%>
      <div class="md:flex justify-between w-full mt-10">
        <div class="md:w-5/12">
          <p class="text-xl font-bold md:mb-8">材料 / <span class="text-base"><%= @post.recipe_serving&.serving %>人分</span></p>
          <div class="overflow-x-auto mb-10">
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th>食材</th>
                  <th>分量</th>
                </tr>
              </thead>
              <tbody>
                <!-- row  -->
                <% @post.recipe_ingredients.each do |ingredient|%>
                  <tr>
                    <td><%= ingredient.name %></td>
                    <td><%= ingredient.quantity %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="md:w-1/2">
          <p class="text-xl font-bold md:mb-8">作り方</p>
          <div class="mt-4 md:mt-10">
            <% @post.recipe_steps.each do |step|%>
              <div class="flex items-start mb-4">
                <div class="inline w-8 h-8 rounded-full bg-[#8DBA30] text-center leading-8 mr-1 shrink-0"><%= step.order %></div>
                <p class=""><%= step.instruction %></p>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id="ai-recipe-form-for-post-<%= @post.id %>">
    <% if @post.with_recipe? && @post.published? %>
      <h3 class="mt-20">材料が無い時は…</h3>
      <div class="text-center">
        <p class="mt-4">レシピの材料が家にない時や、お好みの食材で作ってみたい時はこちら！</p>
        <p class="mt-4 mb-10">AIがレシピのアレンジをお手伝いします！</p>
        <%= form_with url: ai_recipes_path do |f| %>
          <div class="flex items-center flex-col">
            <p class="my-2">このレシピの</p>
            <%= f.select(:former_ingredient_name, @ingredient_names, { include_blank: "選択してください" }, class: "select select-primary w-full max-w-xs") %>
            <p class="my-2">を</p>
            <%= f.text_field(:new_ingredient_name, class:"input input-bordered input-primary w-full max-w-xs", placeholder: "30字以内で食材を入力") %>
            <p class="mt-2">に変えたら…？</p>
          </div>
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.hidden_field :user_id, value: current_user&.id %>
          <div class="mt-10">
            <%= f.submit "AIに提案してもらう", class: "btn btn-secondary text-white" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col items-center mt-20 mb-40">
    <%= link_to "おやさいReport一覧を見る",posts_path, class: "btn btn-primary text-white mb-4" %>
    <% if current_user && @post.published? %>
      <%= link_to "お気に入り一覧を見る", bookmarks_posts_path, class: "btn btn-primary text-white mb-4" %>
    <% elsif @post.draft? %>
      <%= link_to "下書き一覧を見る", drafts_posts_path, class: "btn btn-primary text-white"%>
    <% end %>
  </div>
</div>